        body {
            font-family : arial, sans-serif ;
            background : grey ;
            margin : 0 ;
        }
        
        .image {
            width : 80% ;
            height : 30% ;
            padding : 0 ;   
            margin : 0 auto ;
            display : none ;
        }
        
        .image.active {
            display : block ;
        }
        
        .menu {
            width : 80% ;
            margin : 0 auto ;
            background : black ;
            overflow : auto ;
            display : none ;
        }

        .menu.active {
            display : block ;
        }
        
        .menu ul {
            margin : 0 auto ;
            padding : 0 ;
         }
        .menu ul li {
            list-style : none ;
            float : left ;
            margin : 0 ;
            padding : 0 ;
        }
        
        .menu ul li a {
            text-decoration : none ;
            display : block ;
            color : grey ;
            font-family : Arial ;
            font-size : 18px ;
            font-style : bold ;
            text-align : center ;           
            padding : 10px ;
            margin : 0 ;            
        }
        
        .menu ul li a:hover {
            background : white ;
            color : black ;
            font-weight : bold ;
        }

        .avatar {
            width : 20% ;
            margin : 0 auto ;
            margin-top : 150px ;
            margin-bottom : 50px ;
        }

        .avatar.active {
            display : none ;
        }
        
        .avatar img {
            width : 100% ;
            height : 100% ;
            border-radius : 50% ;
        }
        .greeting {
            margin-top : 20px ;
            margin-left : 5% ; 
            width : 90% ;
        }
        
        
        .menu-icon {
            width : 50px ;
            height : 50px ;
            padding : 8px 8px ;
            background : black ;
            box-sizing : border-box ;
            cursor : pointer ;
            border-radius : 50% ;
            margin : 0 auto ;
            margin-top : 50px ;        
            animation-delay: 17s;
       }
        
        .menu-icon span {
            width : 100% ;
            height : 3px ;
            display : block ;
            background : grey ;
            margin : 6px 0 ;
            transition : .5s ;
        }
   
                  
         @media screen and (max-width:768px) {
              
            .image, .menu {
                 width : 90% ;
            }
             
            .menu ul li a {
            font-size : 15px ;            
            padding : 3px 0 3px ;
            margin : 0 ;           
            }
             
            .avatar {
            width : 40% ;
            margin-top : 40px ;
            margin-bottom : 30px ;
            }

            
            .greeting {
            font-size : 20px ;
            }
            
            .next a {
            font-size : 20px ;
            }
             
            .menu-icon {
            width : 40px ;
            height : 40px ;
            padding : 8px 8px ;
            margin-top : 10px ;
            }
             
            .menu-icon span {
           
            height : 3px ;
            margin : 3px 0 ;
            
            }
        }
        